@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

* {
  /*--tab-corner-rounding: 5px;*/
  --animation-speed: 0.4s;
  --button-corner-rounding: 30px;
  --urlbar-container-height: 40px !important;
  --urlbar-min-height: 30px !important;
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 38px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 3px !important;
  --tabs-border-color: transparent;
}

#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-top: 0px;
  max-height: 36px !important;
  text-align: center;
}

#TabsToolbar:not([brighttext])
  #tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab:is([visuallyselected='true'], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}

.tab-background,
.tab-stack {
  min-height: 36px !important;
}

.tab-background {
  margin-block: 0 0 !important;
}

.tabbrowser-tab {
  min-height: 36px !important;
}

#TabsToolbar:hover {
  background: transparent;
}

.tab-line {
  display: none;
}

#urlbar[breakout][breakout-extend],
#urlbar[breakout][breakout-extend-disabled][open] {
  /* The z-index needs to be big enough to trump other positioned UI pieces
     that we want to overlay. 3 is used in the tab bar. */
  z-index: 3;
  height: var(--urlbar-height) !important;
}
#urlbar-search-button {
  margin-left: 5px;
}

tab:not(:active) .tab-background {
  transition: background-color var(--animation-speed) !important;
}
:root:not([customizing]) :hover > .tabbrowser-tab:not(:hover) {
  transition: blur, ease 0.5s !important;
}

:root:not([customizing]) :not(:hover) > .tabbrowser-tab {
  transition: blur, ease 0.2s !important;
}

#tabbrowser-tabs .tab-label-container[customizing] {
  color: transparent;
  transition: ease 0.5s;
  transition-delay: 3s;
}

:root[uidensity='compact'] {
  --tab-min-height: 38px !important;
}

tab:not([selected]):hover .tab-background {
  background-color: var(
    --toolbarbutton-hover-background,
    rgba(182, 182, 182, 0.11)
  ) !important;
}

.tab-close-button {
  list-style-image: url('active_close.png');
  border-radius: 15px;
  transition: list-style-image var(--animation-speed) ease-out !important;
}
.tab-close-button:hover {
  list-style-image: url('mouseover_close.png');
}

#navigator-toolbox::after {
  display: none !important;
}

.titlebar-button {
  padding-left: 10px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
}

#urlbar {
  /*border-radius: calc(1px + var(--button-corner-rounding)) !important;*/
  height: 30px;
  margin-left: 5px;
}

#urlbar-container *:not(#identity-box) {
  border-color: transparent !important;
}

#pageActionSeparator {
  display: none !important;
}

#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon,
#urlbar[focused] .urlbar-icon,
#urlbar:hover .urlbar-icon:not([open]) image,
#urlbar:active .urlbar-icon image,
#urlbar[focused] .urlbar-icon image {
  fill: var(--toolbar-color) !important;
}

.urlbar-page-action[open] {
  background-color: var(--toolbarbutton-active-background) !important;
  fill: var(--toolbar-color) !important;
}

.urlbar-page-action[open]:hover {
  background-color: var(--toolbarbutton-active-background) !important;
  fill: var(--toolbar-color) !important;
}
#urlbar[breakout] {
  width: 100% !important;
  padding: 0px !important;
  z-index: 99 !important;
}

#urlbar[breakout][breakout-extend] {
  top: 3px !important;
  left: 0 !important;
  width: 100% !important;
}

#urlbar[breakout] {
  top: 4.9px !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: 100% !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
}

.urlbar-page-action[open] .urlbar-icon {
  fill: var(--toolbar-color) !important;
}

#library-btton[animate] {
  margin-bottom: 0px !important;
  margin-top: 50px !important;
}

#library-button[animate] image {
  margin-bottom: -120px !important;
  margin-top: 100px !important;
}

.urlbar-scheme {
  padding-bottom: 11px !important;
}

#urlbar-container {
  margin-left: -5px !important;
  margin-right: 2px !important;
}
.urlbar-input::-moz-selection {
  background-color: red !important;
}

#urlbar-container #urlbar[pageproxystate='invalid'] {
  margin-left: 5px !important;
}

.urlbar-input-box {
  padding: 5px 5px !important;
}

/* #urlbar {
  background-color: transparent !important;
  color: var(--lwt-toolbar-field-color, black) !important;
} */

.urlbarView {
  background: var(--toolbar-bgcolor) !important;
  opacity: 1 !important; 
  /*background: var(--lwt-toolbar-field-focus) !important;
   color: var(--toolbar-color) !important; */
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  box-shadow: 10px 45px 146px -64px rgba(0, 0, 0, 0.65);
  margin-inline: 0 !important;
  width: 100% !important;
}

#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  border-radius: 50rem !important;
  height: 2rem !important;
  width: 2rem !important;
  padding: 4px !important;
}

#pocket-button {
  padding-bottom: 4px !important;
}

.urlbar-icon-wrapper > .urlbar-icon:hover {
 
}

.urlbar-icon-wrapper {
 
  transition: background-color var(--animation-speed) !important;
}

#urlbar:not([focused]) {
  border-radius: 4px !important;
}
#identity-box:hover,
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
[anonid='urlbar-go-button']:hover {
  border-radius: 10px !important;
}

#identity-box:active,
.urlbar-icon:active,
.urlbar-icon-wrapper:active,
[anonid='urlbar-go-button']:active {
  background-color: var(--toolbarbutton-active-background) !important;
}

[lwthemetextcolor='dark'] .urlbarView-body-outer {
  background-color: #ff5340 !important;
  color: var(--toolbar-color) !important;
}

.urlbarView-body-inner {
  background-color: var(--toolbar-bgcolor) !important;
}

.downloadsPanelFooterButton:hover {
  outline: none !important;
}

#TabsToolbar > .titlebar-buttonbox-container {
  margin-right: 20px;
  display: none
}

#urlbar,
#searchbar {
  border: none !important;
}

#page-action-buttons > *:not(#star-button-box),
.urlbar-history-dropmarker {
  opacity: 0 !important;
}

#urlbar:hover #page-action-buttons > *,
#urlbar:hover .urlbar-history-dropmarker {
  opacity: 1 !important;
}

menu,
menuitem,
menucaption {
  -moz-appearance: none !important;
  height: 36px !important;
}

menu[disabled='true'][_moz-menuactive='false'],
menuitem[disabled='true'][_moz-menuactive='false'],
menucaption[disabled='true'][_moz-menuactive='false'] {
  color: white !important;
}

menu[disabled='true'],
menuitem[disabled='true'],
menucaption[disabled='true'] {
  color: var(
    --toolbarbutton-hover-background,
    rgba(182, 182, 182, 0.11)
  ) !important;
}

menu[disabled='true'][_moz-menuactive='true'],
menuitem[disabled='true'][_moz-menuactive='true'],
menucaption[disabled='true'][_moz-menuactive='true'] {
  color: var(
    --toolbarbutton-hover-background,
    rgba(182, 182, 182, 0.11)
  ) !important;
}

menu:not(.subviewbutton) > .menu-right {
  margin-top: 2px !important;
  margin-right: 0px !important;
  width: 0px !important;
}

menu:not(.subviewbutton) > .menu-right image {
  margin-right: -5px !important;
  margin-top: -2px !important;
  /*border: 6px solid var(--toolbar-color) !important;*/
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

@media (-moz-os-version: windows-xp),
  (-moz-os-version: windows-vista),
  (-moz-os-version: windows-win7),
  (-moz-os-version: windows-win8),
  (-moz-os-version: windows-win10) {
  menupopup .popup-internal-box {
    margin: -2px !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
  }

  .bookmark-item .scrollbutton-up {
    margin-top: -3px !important;
  }

  .bookmark-item .scrollbutton-up > .toolbarbutton-icon {
    margin-top: -2px !important;
    border: 6px solid MenuText !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }

  .bookmark-item .scrollbutton-down {
    margin-bottom: -3px !important;
  }

  .bookmark-item .scrollbutton-down > .toolbarbutton-icon {
    margin-bottom: -2px !important;
    border: 6px solid MenuText !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }

  menupopup {
    margin-left: 1px !important;
  }

  menu,
  menuitem,
  menucaption {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  menu:not(.subviewbutton) > .menu-right {
    margin-right: 0px !important;
    padding-left: 0px !important;
  }
}

.titlebar-spacer[type='pre-tabs'],
.titlebar-spacer[type='post-tabs'] {
  display: none !important;
}

:root:-moz-lwtheme-brighttext {
  --autocomplete-popup-background: #2a2a2e !important;
  --autocomplete-popup-highlight-background: #ff5340 !important;
}

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
  html:not(#ublock0-epicker),
  html:not(#ublock0-epicker) body,
  #newtab-customize-overlay {
    background: black !important;
  }
}

#tabs-newtab-button {
  margin-left: 4px !important;
  border-radius: 100% !important;
}

.urlbarView-results {
  padding: 0 6px !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

.tab-background[selected='true'] {
  color: #111111 !important;
}

.tabbrowser-tab {
  text-align: center !important;
  justify-content: center;
  align-items: center;
  margin: 6px 0 0 0 !important;
  padding-inline: 0 !important;
}
.tabbrowser-tab[selected='true'],
.tab-label-container[selected='true'] {
  font-size: 1.1rem;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nav-bar:not([customizing]) {
  visibility: visible;
  margin-top: -40px;
  transition-delay: 1s;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: visibility, ease 0.5s, margin-top, ease 0.5s, opacity, ease 0.5s,
    rotate, ease 0.4s !important;
}
#tabs-newtab-button {
  padding: 0.75rem 0.2rem 0.2rem 0.2rem !important;
}

#nav-bar:hover,
#nav-bar:focus-within,
#urlbar[focused='true'],
#identity-box[open='true'],
#titlebar:hover + #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive='true']) ~ #nav-bar:not([customizing]) {
  visibility: visible;

  margin-top: 0px;
  filter: alpha(opacity=100);
  opacity: 100;
  margin-bottom: -0.2px;
}
#PersonalToolbar {
  margin-top: 0px;
}
#nav-bar .toolbarbutton-1[open='true'] {
  visibility: visible;
  opacity: 100;
}

:-moz-any(#content, #appcontent) browser {
  overflow-y: scroll;
  margin-bottom: 0px !important;
  overflow-x: scroll;
}

/*tooltip*/
#tabbrowser-tab-tooltip {
  -moz-appearance: none !important;
  font-size: 1.4rem !important;
  width: 170px !important;
  height: auto;
  font-weight: normal !important;
  color: var(--lwt-tab-text) !important;
  background-color: var(--toolbar-bgcolor) !important;
  padding: 6px;
  border-radius: 10px;
  box-shadow: none !important;
}
#bookmarksPanel {
  --lwt-toolbar-field-focus: white !important;
  --lwt-tab-text: black !important;
}

window#places[title='Library'] {
  --lwt-toolbar-field-focus: white !important;
  --lwt-tab-text: black !important;
}
menupopup {
  -moz-appearance: none !important;
  padding: 8px !important;
  border-radius: 15px !important;
  background: red !important;
  background: var(--lwt-toolbar-field-focus) !important;
  border: none !important;
  min-width: 280px !important;
}
.menuitem-with-favicon {
  color: var(--lwt-toolbar-field-focus-color) !important;
}
.openintabs-menuitem {
  color: var(--lwt-toolbar-field-focus-color) !important;
}
.bookmark-item:hover {
  color: var(--lwt-toolbar-field-focus-color) !important;
}
menuseparator {
  -moz-appearance: none !important;
  border: none !important;
  background-color: none !important;
}
menuitem,
menu {
  -moz-appearance: none !important;
  padding: 7.5px 6px !important;
}
menuitem[disabled='true'],
menuitem[disabled='true'] > .menu-text {
  color: gray !important;
}
menuitem:hover,
menu:hover,
menu[open='true'],
menuitem[_moz-menuactive='true'] {
  -moz-appearance: none !important;
  background-color: var(--toolbarbutton-hover-background) !important;
  /* filter: brightness(200%); */
  border-radius: 5px;
}
menugroup {
  padding: 0px !important;
  background-color: transparent !important;
}
menuitem[type='checkbox'] {
  padding-left: 8px !important;
  padding-top: 6.5px !important;
  padding-bottom: 6.5px !important;
}
menuitem[type='radio'] {
  padding-left: 8px !important;
  padding-top: 6.5px !important;
  padding-bottom: 6.5px !important;
}
menuitem[type='checkbox'] > .menu-iconic-text,
menuitem[type='radio'] > .menu-iconic-text {
  padding-left: 5px !important;
}
menuitem[checked='true'][type='checkbox'] > .menu-iconic-left {
  padding: 7px 0px 0px 0px !important;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) scale(0.75);
  margin-bottom: 4px !important;
}
menuitem[checked='true'][type='radio'] > .menu-iconic-left {
  padding: 1px !important;
  border: solid white;
  height: 17px !important;
  border-radius: 100%;
  background: white;
  transform: scale(0.5);
}
menucaption {
  background-color: transparent !important;
  color: white !important;
}
#ContentSelectDropdown > menupopup {
  background-image: none !important;
}
#ContentSelectDropdown {
  padding: 0px !important;
}
menulist {
  -moz-appearance: none !important;
  padding: 4px 4px 4px 4px !important;
  border: 2px solid #666666 !important;
}
menulist:hover {
  padding: 4px 4px 4px 4px !important;
  border: 2px solid #999999 !important;
}
menulist[open='true'] {
  border: 2px solid #666666 !important;
}
#context-back > .menu-iconic-left,
#context-forward > .menu-iconic-left,
#context-reload > .menu-iconic-left,
#context-stop > .menu-iconic-left,
#context-bookmarkpage > .menu-iconic-left {
  transform: scale(1.8);
}
.menu-iconic-left {
  -moz-appearance: none !important;
  padding: 0px 5px 0px 9px !important;
}
.menu-right {
  -moz-appearance: none !important;
  padding: 7.5px !important;
  margin-right: 6px !important;
  color: white !important;
  border: solid white;
  border-width: 0 2px 2px 0px;
  transform: rotate(-45deg) scale(0.55);
}

menu[_moz-menuactive='true'],
menuitem[_moz-menuactive='true'] {
  -moz-font-smoothing-background-color: -moz-mac-active-menuitem;
  color: inherit !important;
}
