@import url("../../.cache/wal/colors-waybar.css");

*{
	font-family: "HackNerdFontMono";
}

window#waybar	{
	color: @color13;
	background: rgba(0,0,0,0)
	
}

#custom-media, #idle_inhibitor, #pulseaudio, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray {
	margin-right: 2px;
	background: @background;
	padding: 0px 5px 0px 5px;

	border: 1px solid;
} 

#window {
	padding: 0px 5px 0px 5px;

	border: 1px solid;
}

#tags button {
	background: @background;
	color: inherit;
	
	/*margin-right: 5px;*/
	border: 1px solid;

	font-size: 20px;
}

#tags button.focused {
	color: @color13;
}

#tags button.urgent {
	color: @color7; 
}
#workspaces button.active {
    /*  */
    background: @background;
    color: inherit;
}
