window {
    background: rgba(0, 0, 0,0.25);
}
.mainbox {
}
.pwrbtn {
    margin: 10px;
    font-size: 60px;
    border-radius:10px;
}
.wireguard {
    margin: 10px;
    font-size: 120px;
    border-radius: 10px;
}
